.timer {
  font-size: 2rem;
}
.exercise {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.keyboard {
  padding: 1rem;
  font-size: 1.125rem;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px gray;
  color: gray;
}