.wrap{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .top, .middle, .bottom{
  justify-content: space-between;
  display: flex;
  margin: 5px;
}
.top div,.middle div,.bottom div{
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #000;
  background-color: #696969;
  color: #fff;
  border-radius: 10%;
  font-family: arial
}


