.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.start-btn {
    margin-right: 25px;
}
.result {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}