input {
  padding: 7px 5px;
  border: none;
  border-bottom: 1px solid green;
}

button {
  background-color: #rrr;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.formGetAllUsers {
  justify-content: center;
}


table {
  margin: 0 auto;
  text-align: center;
}

thead {
  background-color: yellow;
  
}

th {
  width: 250px;
  border-bottom: 1px solid grey;
}